body,html {font-size:10px;}
#frame {
  height:60rem; 
  width:60rem;
  background: gray;
}

#char {
  height: 3rem;
  width: 3rem;
  background: blue;
  position: absolute;
  
}

#char .charImg{
  width: 3rem;
  height: 3rem;
  position: absolute;
}
